@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,500&display=swap');

.section01{position:relative; height:200px; background-color:#2196f3; }
.section01 canvas { display: block; left:70%; margin-left:-500px; width:1000px; height:200px; z-index: 1; pointer-events: none; }

body {
    background: #2196f3;
    padding: 2rem;
  }
  
  h2 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
  }
  
  span {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  span:not(.light){
    opacity: 0;
    animation: flashText .5s ease-out alternate infinite;
  }
  
  span.light {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  @keyframes flash{
    to {
      opacity: 1;
    }
  }
  
  @keyframes flashText {
    to {
      opacity: 0.15;
    }
  }