@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,500&display=swap');

* {
  box-sizing: border-box; 
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.alramlist {
  display: flex;
}





header {
  background-color: #2196f3;
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  font-family: 'Playfair Display', serif;
  font-weight: 800;


}

#alarm-time {
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border: 1px solid dodgerblue;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 12px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 20px;
}

h3{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-align: center;
  background-color: #2196f3;
  width: 100%;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin: 0px;
  padding: 0px
  font-size: 20px
}

.list_wrap{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border: 1px solid dodgerblue;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 12px;
}

img {
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}



  
