@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,800;1,500&display=swap');

* {
  box-sizing: border-box; 
}



html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

header {
  background-color: #fff;
  width: 100%;
  height: auto;
  color:#DF2E24;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  line-height: 6rem;
  font-family: 'Playfair Display', serif;
  display:block;
  margin-left: auto;
  margin-right: auto;
  


}



img{
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.progress_bar{ 
  border: 1px solid #000000;
  border-radius: 4px;
  display:block;
  margin-left: auto;
  margin-right: auto;

}


.index {
  cursor: pointer;
  outline: none;
  transition: .3s;
  text-align: center;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #fff;
  padding: 4px 12px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 1.8rem;
  display:block;
  margin-left: auto;
  margin-right: auto;


}

.index:hover {
  background-color: #000000;
  color: #fff;
}




